{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sales Report</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table, td, th {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        text-align: left;
        }

        .table {
        border-collapse: collapse;
        width: 100%;

        }

        .table th, td {
        padding: 5px;
        text-align: center;
        }

        .td{
        word-break: inherit;
        }

        .list-group h3{
            font-size: 3em;
        }
        .list-group p {
            font-size: 1em;
        }

        .table1 {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
            border: none;
            text-align: center;
        }

        .table1 td {
            border: none;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <table class="table1">
            <td>
                <div class="list-group">
                    <h1>Report objednávok</h1>
                    <h2>{{ date.day }}. {{ date.month }}. {{ date.year }}</h2>
                </div>
            </td>
        </table>
        <br/>
        <table class="table">
            <thead>
                <tr>
                  <th>Cas objednávky</th>
                  <th>UUID</th>
                  <th>Meno</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                    <tr>
                      <td>{{ order.date }}</td>
                      <td>{{ order.uuid }}</td>
                      <td>{{ order.first_name }} {{ order.last_name }}</td>
                      <td>{{ order.price }} €</td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
</div>

</body>
</html>